{% extends 'base.html' %}

{% block content %}

    <main class="main pages">

        <div class="page-content pt-50">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 col-lg-12 m-auto">
                        <div class="row">
                            <div class="col-lg-9">
                                <div class="single-page pr-30 mb-lg-0 mb-sm-5">
                                    <div class="single-header style-2">
                                        <h2>Purchase Guide</h2>
                                        <div class="entry-meta meta-1 meta-3 font-xs mt-15 mb-15">
                                            <span class="post-by">By <a href="#">Mr. JK</a></span>
                                            <span class="post-on has-dot">21 February 2023</span>
                                            <span class="time-reading has-dot">3 min read</span>
                                            
                                        </div>
                                    </div>
                                    <figure class="border-radius-15 mb-30">
                                        <img class="border-radius-15" src="assets/imgs/page/guide-1.png" alt="" />
                                    </figure>
                                    <div class="single-content mb-50">
                                        <h3>1. Account Registering</h3>
                                        <p>Provide all the necessary details for registering in website.</p>
                                        <ul class="mb-30">
                                            <li>Username (required)</li>
                                            <li>Password(required)</li>
                                            <li>Confirm Password(required)</li>
                                            <li>Mobile phone numbers </li>
                                            <li>Email address (required)</li>
                                            <li>City</li>
                                            <li>Security Question</li>
                                            <li>Answer</li>
                                            <li>Role(Seller / Buyer)</li>
                                        </ul>
                                        <h3>2. Check Product</h3>
                                        <p>Check Product from home page or go for details and click on order button.</p>
                                        <h3>3. Placing Order </h3>
                                        <p>Now the order is initiated but it is in pending state that means the seller has not accepted your order. Here the order status will be displayed for all your order.</p>
                                        <h3>4. Order Status </h3>
                                        <p>As the status become blue that means Ready status than you can go and pick up your order.</p>
                                        <h3>5. Pick up</h3>
                                        <p>Go to that store and tell your username and orderid thean the seller will confirm and hand your items to you after payment.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 primary-sidebar sticky-sidebar">
                                <div class="widget-area">
                                    
                                    <div class="sidebar-widget widget-category-2 mb-30">
                                        <h5 class="section-title style-1 mb-30">Category</h5>
                                        <ul>
                                            <li>
                                                <a href="/shop-grid-right.html"> <img src="/static/assets/imgs/theme/icons/category-9.svg" alt="" />
                                                Vegetables</a>
{#                                                <span class="count">6</span>#}
                                            </li>                            
                                            <li>
                                                <a href="/shop-grid-right.html"> <img src="/static/assets/imgs/theme/icons/category-7.svg" alt="" />
                                                Fruits</a>
{#                                                <span class="count">7</span>#}
                                            </li>
                                            <li>
                                                <a href="/shop-grid-right.html"> <img src="/static/assets/imgs/theme/icons/category-6.svg" alt="" />
                                                Milks & Dairies</a>
{#                                                <span class="count">0</span>#}
                                            </li>
                                            <li>
                                                <a href="/shop-grid-right.html"> <img src="/static/assets/imgs/theme/icons/category-5.svg" alt="" />
                                                Chocolates</a>
{#                                                <span class="count">3</span>#}
                                            </li>
                                            <li>
                                                <a href="/shop-grid-right.html"> <img src="/static/assets/imgs/theme/icons/category-2.svg" alt="" />
                                                Juice & Cold Drinks</a>
{#                                                <span class="count">2</span>#}
                                            </li>
                                            <li>
                                                <a href="/shop-grid-right.html"> <img src="/static/assets/imgs/theme/icons/category-3.svg" alt="" />
                                                Clothings</a>
{#                                                <span class="count">0</span>#}
                                            </li>
                                            <li>
                                                <a href="/shop-grid-right.html"> <img src="/static/assets/imgs/theme/icons/stationary.svg" alt="" />
                                                Stationary</a>
{#                                                <span class="count">1</span>#}
                                            </li>
                                            <li>
                                                <a href="/shop-grid-right.html"> <img src="/static/assets/imgs/theme/icons/electronic.svg" alt="" />
                                                Electronics</a>
{#                                                <span class="count">8</span>#}
                                            </li>
                                            <li>
                                                <a href="/shop-grid-right.html"> <img src="/static/assets/imgs/theme/icons/toys.svg" alt="" />
                                                Toys</a>
{#                                                <span class="count">2</span>#}
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Product sidebar Widget -->
                                    <div class="sidebar-widget product-sidebar mb-30 p-30 bg-grey border-radius-10">
                                        <h5 class="section-title style-1 mb-30">Trending Now</h5>
                                    <div class="product-list-small animated animated">
                                        <article class="row align-items-center hover-up">
                                            <figure class="col-md-4 mb-0">
                                                <a href="/shop-product-right.html"><img src="/static/assets/imgs/mycustom/green grapes.png" alt="" /></a>
                                            </figure>
                                            <div class="col-md-8 mb-0">
                                                <h6>
                                                    <a href="">Grapes(green) 1kg</a>
                                                </h6>
                                                <div>
                                                    <span class="font-small text-muted">By 
                                                        <a href="">Yogeshwar</a>
                                                    </span>
                                                </div>
                                                <div class="product-price">
                                                    <span>₹56</span>
                                                    <span class="old-price">₹60</span>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="row align-items-center hover-up">
                                            <figure class="col-md-4 mb-0">
                                                <a href="/shop-product-right.html"><img src="/static/assets/imgs/mycustom/pink car toy.jpg" alt="" /></a>
                                            </figure>
                                            <div class="col-md-8 mb-0">
                                                <h6>
                                                    <a href="">Toy Car</a>
                                                </h6>
                                                <div>
                                                    <span class="font-small text-muted">By 
                                                        <a href="">Toyz Shop</a>
                                                    </span>
                                                </div>
                                                <div class="product-price">
                                                    <span>₹50</span>
                                                    <span class="old-price">₹50</span>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="row align-items-center hover-up">
                                            <figure class="col-md-4 mb-0">
                                                <a href="/shop-product-right.html"><img src="/static/assets/imgs/mycustom/electric stove.jpg" alt="" /></a>
                                            </figure>
                                            <div class="col-md-8 mb-0">
                                                <h6>
                                                    <a href="">Electric Stove</a>
                                                </h6>
                                                <div>
                                                    <span class="font-small text-muted">By 
                                                        <a href="">Shrutz</a>
                                                    </span>
                                                </div>
                                                <div class="product-price">
                                                    <span>₹5600</span>
                                                    <span class="old-price">₹5800</span>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="row align-items-center hover-up">
                                            <figure class="col-md-4 mb-0">
                                                <a href="/shop-product-right.html"><img src="/static/assets/imgs/mycustom/08.jpg" alt="" /></a>
                                            </figure>
                                            <div class="col-md-8 mb-0">
                                                <h6>
                                                    <a href="">Stapler(10 Size)</a>
                                                </h6>
                                                <div>
                                                    <span class="font-small text-muted">By 
                                                        <a href="">Patel Zerox</a>
                                                    </span>
                                                </div>
                                                <div class="product-price">
                                                    <span>₹35</span>
                                                    <span class="old-price">₹35</span>
                                                </div>
                                            </div>
                                        </article>
                                        {% comment %} {% for product in products %}
                                        <div class="single-post clearfix">
                                            <div class="image">

                                                <img src="{{ product.image.url }}" alt="{{ product.name }}" />

                                            </div>
                                            <div class="content pt-10">
                                                <h5><a href="shop-product-detail.html">{{ product.name }}</a></h5>
                                                <p class="price mb-0 mt-5">₹{{ product.price }}</p>
                                                
                                            </div>
                                        </div>
                                        {% endfor %} {% endcomment %}
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
   

    {% endblock content %}

    {% include 'footer.html' %}