<!-- password_reset.html -->

{% extends 'bbase.html' %}
{% block title %}
    Gharwakhri - Password Reset
{% endblock %}
{% block backcontent %}
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1 class="text-center mb-4">Password Reset</h1>
        <form method="post">
          {% csrf_token %}
          {% for field in form %}
            <div class="form-group">
              {{ field.label_tag }}
              {{ field }}
              {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
              {% endif %}
              {% for error in field.errors %}
                <div class="invalid-feedback">{{ error }}</div>
              {% endfor %}
            </div>
          {% endfor %}
          <button type="submit" class="btn btn-primary">Change Password</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
