{% extends "bbase.html" %}

{% block backcontent %}

<div class="card mb-4">
    <header class="card-header">
        <div class="row gx-3">
            <div class="col-lg-4 col-md-6 me-auto">
                <input type="text" placeholder="Search..." class="form-control" />
            </div>
            <div class="col-lg-2 col-6 col-md-3">
                <select class="form-select">
                    <option>All category</option>
                    {% for key, value in categories.items %}
                        <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-lg-2 col-6 col-md-3">
                <select class="form-select">
                    <option>Latest added</option>
                    <option>Cheap first</option>
                    <option>Most viewed</option>
                </select>
            </div>
        </div>
    </header>
    <!-- card-header end// -->
    <div class="card-body">
        <div class="row gx-3 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 row-cols-xxl-5">
            {% for product in request.user.products.all %}
                <div class="col">
                    <div class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src="{{ product.image.url }}" alt="{{ product.name }}" /> </a>
                        <div class="info-wrap">
                            <a href="#" class="title text-truncate">{{ product.name }}</a>
                            <div class="price mb-2">${{ product.price }}</div>
                            <!-- price.// -->
                            <a href="#" class="btn btn-sm font-sm rounded btn-brand"> <i class="material-icons md-edit"></i> Edit </a>
                            <a href="#" class="btn btn-sm font-sm btn-light rounded"> <i class="material-icons md-delete_forever"></i> Delete </a>
                        </div>
                    </div>
                    <!-- card-product  end// -->
                </div>
            {% empty %}
                <p>No products found.</p>
            {% endfor %}
            <!-- col.// -->
            <!-- col.// -->
        </div>
        <!-- row.// -->
    </div>
    <!-- card-body end// -->
</div>
<!-- card end// -->


{% endblock %}