
.form-check-input.inactive {
    background-color: #f8d7da;
}

h5.text-brand {
    font-size: 73px !important;
}
/* 
footer.footer.fixed-bottom.bg-white {
    left: 221px;
    right: -2px !important;
} */