{% extends 'base.html' %}

{% block content %}

    <main class="main pages">
        
        <div class="page-content pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-10 col-md-12 m-auto">
                        <div class="row">
                            
                            <div class="col-lg-6 col-md-8">
                                <div class="login_wrap widget-taber-content background-white">
                                    <div class="padding_eight_all bg-gray-light">
                                        <div class="heading_s1">
                                            <h1 class="mb-5">Create an Account</h1>
                                            <p class="mb-30">Already have an account? <a href="{% url 'loginin' %}">Login</a></p>
                                        </div>
                                        
                    <form id="customvalidate" method="POST" action="{% url 'signup' %}">
                        {% csrf_token %}
                            
                            <div class="form-group">
                                <input type="text" name="username" placeholder="Username *" required="" minlength="4" />
                                <span id="name-error"></span>
                            </div>

                            <div class="form-group">
                                <input type="password" name="password1" placeholder="Password (must be of 6 letters) *" required="" minlength="6" />
                                <span id="password-error"></span>
                            </div>

                            <div class="form-group">
                                <input type="password" name="password2" placeholder="Confirm password *" required="" />
                            </div>
                            {% if error_message %}
                            {% comment %} <div> {% endcomment %}
                                <p class="error alert-warning">{{ error_message }}</p>
                            {% comment %} </div> {% endcomment %}
                            {% endif %}
                            <div class="form-group">
                                <input type="text" name="email" placeholder="Email *" required="" />
                                <span id="email-error"></span>
                            </div>

                            <div class="form-group">
                                <input type="number" name="phoneno" placeholder="Phone Number *" required="" minlength="10" maxlength="15"  />
                            </div>

                            <div class="form-group">
                                <input type="text" name="city" placeholder="City *" required="" />
                            </div>
                            <div class="form-group">
                                <select class="form-select form-select-lg mb-3" id="cars" name="question" required >
                                    <option class="opt" value="">--Select a security question--</option> *
                                    <option class="opt" value="question1">Your Favourite Item ?</option>
                                    <option class="opt" value="question2">Your Favourite Name ?</option>
                                    <option class="opt" value="question3">Your Favourtie Number ?</option>
                                </select>
                            </div>

                            <div class="form-group">                                            
                                <input type="text" name="answer" placeholder="Answer *"  required="">
                            </div>

                            <div class="payment_option mb-35">
                                <div class="custome-radio">
                                    <input class="form-check-input" required="" type="radio" name="role" id="exampleRadios3" value="seller" checked="" />
                                    <label class="form-check-label" for="exampleRadios3" data-bs-toggle="collapse" data-target="#bankTranfer" aria-controls="bankTranfer">Seller</label>
                                </div>
                                <div class="custome-radio">
                                    <input class="form-check-input" required="" type="radio" name="role" id="exampleRadios4" value="buyer" checked="" />
                                    <label class="form-check-label" for="exampleRadios4" data-bs-toggle="collapse" data-target="#checkPayment" aria-controls="checkPayment">Buyer</label>
                                </div>                                            
                            </div>

                            <div class="login_footer form-group mb-40">
                                <div class="chek-form">
                                    <div class="custome-checkbox">
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox12" value="agree" />
                                        <label class="form-check-label" for="exampleCheckbox12"><span>I agree to terms &amp; Policy.</span></label>
                                                {% if error %}
                                                <center><p style="color: red">{{ error }}</p><center>
                                                {% endif %}
                                    </div>
                                </div>
                                <a href="{% url 'privatepolicy' %}"><i class="fi-rs-book-alt mr-5 text-muted"></i>Lean more</a>
                            </div>
                                        
                            <button type="submit" class="btn btn-fill-out btn-block hover-up font-weight-bold" name="login">Submit &amp; Register</button>
                    </form>                                            
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="pl-25">
                                    <h2 class="mb-30">Welcome to</h2>
                                    <h2 class="mb-30" style="color:orange;">Gharwakhri</h2>
                                    <p class="mb-25"></p>
                                    <p class="mb-50"></p>
                                    <div class="carausel-3-columns-cover position-relative">
                                        {% comment %} <div id="carausel-3-columns-arrows"></div> {% endcomment %}
                                            <div class="carausel-3-columns img-container" id="carausel-3-columns">
                                            
                                            <img src="/static/assets/imgs/page/beauty.jpg" alt="Beauty Care" />
                                            <img src="/static/assets/imgs/page/clothing2.jpg" alt="Clothings" />
                                            <img src="/static/assets/imgs/page/vegetables.jpg" alt="Vegetables" />
                                            <img src="/static/assets/imgs/page/beauty1.jpg" alt="Beauty Care" />
                                            <img src="/static/assets/imgs/page/fruits.jpg" alt="Fruits" />
                                            <img src="/static/assets/imgs/page/clothing1.jpg" alt="Clothings" />
                                            <img src="/static/assets/imgs/page/generalstore.jpg" alt="General Store" />
                                            <img src="/static/assets/imgs/page/snacks1.jpg" alt="Snacks" />
                                            <img src="/static/assets/imgs/page/fruits1.jpg" alt="Fruits" />
                                            <img src="/static/assets/imgs/page/vegetables1.jpg" alt="Vegetables" />
                                            {% comment %} <img src="/static/assets/imgs/page/ " alt="" />
                                            <img src="/static/assets/imgs/page/beauty.jpg" alt="" />
                                            <img src="/static/assets/imgs/page/beauty.jpg" alt="" /> {% endcomment %}

                                            </div>
                                    </div>
                                </div>
                            </div>
                            {% comment %} <div class="col-lg-6 pr-30 d-none d-lg-block">
                                <div class="card-login mt-115">
                                    <a href="#" class="social-login facebook-login">
                                        <img src="assets/imgs/theme/icons/logo-facebook.svg" alt="" />
                                        <span>Continue with Facebook</span>
                                    </a>
                                    <a href="#" class="social-login google-login">
                                        <img src="assets/imgs/theme/icons/logo-google.svg" alt="" />
                                        <span>Continue with Google</span>
                                    </a>
                                    <a href="#" class="social-login apple-login">
                                        <img src="assets/imgs/theme/icons/logo-apple.svg" alt="" />
                                        <span>Continue with Apple</span>
                                    </a>
                                </div>
                            </div> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
  

    {% endblock content %}