{% extends 'base.html' %}

{% block content %}

    <main class="main pages">
        <div class="page-content pt-65 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-10 col-md-12 m-auto">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="pl-25">
                                    <h2 class="mb-30">Welcome to</h2>
                                    <h2 class="mb-30" style="color:orange;">Gharwakhri</h2>
                                    <p class="mb-25"></p>
                                    <p class="mb-50"></p>
                                    <div class="carausel-3-columns-cover position-relative">
                                        <div id="carausel-3-columns-arrows"></div>
                                        <div class="carausel-3-columns img-container" id="carausel-3-columns">
                                            
                                            <img src="/static/assets/imgs/page/beauty.jpg" alt="Beauty Care" />
                                            <img src="/static/assets/imgs/page/clothing2.jpg" alt="Clothings" />
                                            <img src="/static/assets/imgs/page/vegetables.jpg" alt="Vegetables" />
                                            <img src="/static/assets/imgs/page/beauty1.jpg" alt="Beauty Care" />
                                            <img src="/static/assets/imgs/page/fruits.jpg" alt="Fruits" />
                                            <img src="/static/assets/imgs/page/clothing1.jpg" alt="Clothings" />
                                            <img src="/static/assets/imgs/page/generalstore.jpg" alt="General Store" />
                                            <img src="/static/assets/imgs/page/snacks1.jpg" alt="Snacks" />
                                            <img src="/static/assets/imgs/page/fruits1.jpg" alt="Fruits" />
                                            <img src="/static/assets/imgs/page/vegetables1.jpg" alt="Vegetables" />
                                            {% comment %} <img src="/static/assets/imgs/page/ " alt="" />
                                            <img src="/static/assets/imgs/page/beauty.jpg" alt="" />
                                            <img src="/static/assets/imgs/page/beauty.jpg" alt="" /> {% endcomment %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-8">
                                <div class="login_wrap widget-taber-content background-white">
                                    <div class="padding_eight_all bg-white">
                                        <div class="heading_s1">
                                            <h1 class="mb-5">Login</h1>
                                            <p class="mb-30">Don't have an account? <a href="{% url 'signup' %}">Create here</a></p>
                                        </div>
                                        <form method="POST" action="{% url 'loginin' %}">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <input type="text" required="" name="username" placeholder="Username" />
                                                
                                            </div>
                                            <div class="form-group">
                                                <input required="" type="password" id="password" name="password" placeholder="Your password" />
                                                
                                            </div>
                                            
                                            {% comment %} <div class="login_footer form-group mb-50">                                            
                                                <a class="text-muted" href="{% url 'password_reset' %}">Forgot password?</a>
                                            </div> {% endcomment %}
                                            <div class="form-group">
                                                {% if error %}
                                                <center><p style="color: red">{{ error }}</p><center>
                                                {% endif %}
                                                <button type="submit" class="btn btn-heading btn-block hover-up" name="login">Log in</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


    {% endblock content %}